{{ define "main" }}
<div class="terminal-alert terminal-alert-error">
    404 Not Found
</div>
<h1>
    <div class="terminal-prompt">
        <a class="no-style" href="{{ "" | relURL }}">Go Home</a>
    </div>
</h1>
{{ end }}
