@font-face {
    font-family: 'Mononoki';
    src: url('../fonts/mononoki-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mononoki';
    src: url('../fonts/mononoki-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Mononoki';
    src: url('../fonts/mononoki-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Mononoki';
    src: url('../fonts/mononoki-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}

h1 {
    color: var(--primary-color);
    text-align: center;
    width: 200rem;
}

footer {
    position: relative;
    bottom: 0;
}

.logo {
    position: relative;
    white-space: nowrap;
}

.logo::before {
    content: "/ ";
    margin-right: -0.45em;
    font-size: 1.1em;
    bottom: 0.1em;
    position: relative;
    color: var(--primary-color);
}

.terminal-prompt::after {
    animation: var(--animation-properties);
}

.terminal-menu-prompt::before {
    content: "> ";
    color: var(--primary-color);
}

.terminal-menu-prompt,
.terminal-menu li a.active {
    position: relative;
    white-space: nowrap;
    color: var(--primary-color);
}

.terminal-menu-prompt::after {
    content: "";
    animation: var(--animation-properties);
    background: var(--primary-color);
    border-radius: 0;
    display: inline-block;
    height: 1em;
    margin-left: 0.2em;
    width: 3px;
    bottom: -2px;
    position: relative;
}

.terminal-paginator {
    display: block;
}

.terminal-paginator h2 {
    margin-bottom: 0;
}

.terminal-paginator ul {
    width: 100%;
    margin-bottom: 0;
    margin-top: calc(var(--global-space) * 2);
}

.terminal-paginator-menu ul {
    display: flex;
    justify-content: center;
    margin-top: calc(var(--global-space) * 2);
    margin-left: 1em;
}

.terminal-paginator-menu li {
    display: flex;
    padding: 0;
    margin: 0;
    margin-right: 2em;
}
