:root {
    /* # Molokai */
    /* https://wezfurlong.org/wezterm/colorschemes/m/index.html#molokai */
    --molokai-foreground: #bbbbbb;
    --molokai-background: #121212;
    --molokai-cursor_bg: #bbbbbb;
    --molokai-cursor_border: #bbbbbb;
    --molokai-cursor_fg: #ffffff;
    --molokai-selection_bg: #b5d5ff;
    --molokai-selection_fg: #000000;
    --molokai-ansi-1: #121212;
    --molokai-ansi-2: #fa2573;
    --molokai-ansi-3: #98e123;
    --molokai-ansi-4: #dfd460;
    --molokai-ansi-5: #1080d0;
    --molokai-ansi-6: #8700ff;
    --molokai-ansi-7: #43a8d0;
    --molokai-ansi-8: #bbbbbb;
    --molokai-bright-1: #555555;
    --molokai-bright-2: #f6669d;
    --molokai-bright-3: #b1e05f;
    --molokai-bright-4: #fff26d;
    --molokai-bright-5: #00afff;
    --molokai-bright-6: #af87ff;
    --molokai-bright-7: #51ceff;
    --molokai-bright-8: #ffffff;

    /* Terminal CSS */
    --font-stack: Mononoki, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    --mono-font-stack: Mononoki, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    --background-color: var(--molokai-background);
    --font-color: var(--molokai-foreground);
    --invert-font-color: var(--molokai-background);
    --secondary-color: var(--molokai-ansi-8);
    --tertiary-color: var(--molokai-ansi-8);
    --primary-color: var(--molokai-ansi-3);
    --error-color: var(--molokai-ansi-2);
    --progress-bar-background: var(--molokai-bright-1);
    --progress-bar-fill: var(--molokai-ansi-3);
    --code-bg-color: var(--molokai-background);
    --animation-properties: cursor 1300ms infinite;
}
