{{ define "main" }}
<section class="terminal-paginator">
    <h2>Latest Posts</h2>
{{ if .Paginator }}
    <div class="terminal-nav">
        <nav class="terminal-paginator-menu">
            {{ template "_internal/pagination.html" . }}
        </nav>
    </div>
{{end}}
    <ul>
        {{ range (.Paginate .RegularPagesRecursive).Pages }}
        <li><a href="{{ .Permalink }}">({{ .Date | time.Format "2006-01-02" }}) {{.Title }}</a></li>
        {{ end }}
    </ul>
</section>

{{ end }}
