<header class="container">
    <div class="terminal-nav">
        <div class="terminal-logo">
            <div class="{{ if .IsHome }}terminal-prompt{{end}} logo">
                <a class="no-style" href="{{ .Site.BaseURL }}">
                    {{- .Site.Title }}
                </a>
            </div>
        </div>
        <nav aria-label="Main Navigation" class="terminal-menu">
            <ul>
                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                    <li>
                        <a class="menu-item {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}active terminal-menu-prompt{{ end }}" href="{{ .URL }}">
                            {{ .Name }}
                        </a>
                        {{ if .HasChildren }}
                            <ul>
                            {{ range .Children }}
                                <li>
                                    <a class="menu-item {{ if $currentPage.IsMenuCurrent "main" . }}active terminal-menu-prompt{{ end }}" href="{{ .URL }}">
                                        {{ .Name }}
                                    </a>
                                </li>
                            {{ end }}
                            </ul>
                        {{ end }}
                    </li>
                {{ end }}
            </ul>
        </nav>
    </div>
</header>
